<div class="main-page-content">
  <%= image_tag("https://www.flaticon.com/svg/static/icons/svg/2959/2959846.svg", class: 'user-icon') %>
  <h1 class="main-title">Welfare collection app</h1>

  <%= button_to "Log in", login_path, method: :get, class: 'login-btn' %>
  <%= button_to  "Sign up", new_user_path, method: :get, class: 'signup-btn' %> 
</div>