<h1 class="nav-title"><%= @group.name %></h1>

<%= render 'welfares/welfare', collection: @welfares = @group.welfares  %>
<%= link_to raw('<span>Add Welfare</span>'), new_welfare_path(group: @group.id), class: 'action-btn' %>