$second-color: #5fb523;

.user-icon {
  width: 45%;
  border: #434b54 solid 3px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 5px;
}

label {
  .icon-select {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
  }

  .icon {
    width: 6.2rem;
    height: 6.2rem;
    border: 2px solid transparent;
    border-radius: 50%;
  }

  .icon-select + .icon {
    cursor: pointer;
  }

  .icon-select:checked + .icon {
    border: 2px solid $second-color;
    border-radius: 60px;
  }
}